@model admin.services.PagedResult<admin.services.Lead>

@{
    ViewData["Title"] = "Home Page";
}

    <table>
        <tr>
            <th>Name</th>
            <th>State</th>
        </tr>


        @foreach (var l in Model.Results)
        {
            <tr>
                <td><a href="/Leads/Detail/?LeadId=@l.LeadId">@l.Name</a></td>
                <td>@l.State</td>
            </tr>
        }


        </table>